.page {
	width:640px;
	margin: auto;
	margin-bottom:2em;
}

main {
	width: 640px;
}

nav ul li {
	width: 160px;
}

nav ul li a {
	box-sizing: border-box;
	width: 160px;
}

aside {
	display: none; /* pour l'instant on oublie */
}

section aside {
	width: 20%;
	display: inline-block;
}

section article {
	width: 77%;
}

footer .pied {
	max-width: 640px;
	padding-left: 0px;
	padding-right: 0px;
}

header .entete {
	max-width: 640px;
}

.entries li {
	margin: 0px;
	padding: 0px;
}
