/************************************************************************************
*
*	Définition des styles
*
************************************************************************************/

html {
	min-height: 100%;
	min-width: 100%;
	background-repeat: no-repeat;
}

body {
	background-color: black;/* couleur de fond */
	color: white;			/* couleur de texte */
	font-family: Verdana, Geneva, sans-serif;	/* police d'écriture */
	font-style: normal;		/* effet sur la police */
	font-size: 1em;			/* taille de la police */
	text-align: justify;
	
	margin: auto;
	margin-bottom: 0px;
	width: 100%;
	min-height: 100%;
	height: 100%;
}

.page {
	width: 1280px;
	margin: auto;
}
/*
header {
	width: 100%;
	font-family: Verdana, Geneva, sans-serif;
	font-style: normal;
	font-size: 5em;
	
	background-color: #BE0000;
	
	border-bottom: 0px solid;
	border-color: #DC0000;
}

header img {
	height: 128px;
	float: left;
	margin-top: 5px;
}

header .entete {
	width: 1280px;
	margin: auto;
}

header h1 {
	font-size: 128%;
	text-shadow: 4px 4px 2px #BBaaaa;
	display: inline-block;
}
*/
h1 {
	margin: 10px;
	font-size: 3em;
}

h2 {
	padding: 10px;
	padding-top: 0px;
	margin-top: -10px; /*pour compenser le padding de article*/
	margin-bottom: 10px;
	font-size: 1.5em;
	border-bottom: 2px solid white;
}
/*
nav {
	height: 3em;
}

nav ul {
	margin-top: 20px;
	list-style-type: none;
}

nav li {
	float: left;
}

nav ul li a {
	display: inline-block;
	box-sizing: border-box;
	width: 160px;
	line-height: 3em;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 100%;
	text-decoration: none;
	text-align: center;


	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
*/
nav ul li a:hover {
	border-top: 1px solid #DC0000;
	border-bottom: 1px solid #DC0000;
	transition: border 0.6s, color 0.6s;
}

main {
	/*background-color: rgba(55, 0, 0, 1);*/
	text-indent: 32px;	/* alinéa au début du paragraphe */
	width: 940px;
	float: left;
}

section {
	text-indent: none;
	padding: 2em;
	background-color: #BE0000;
	border-radius: 0px;
	box-shadow: 0px 0px 1px 1px #555555;
	margin-top: 20px;
}

iframe {
	max-width: 100%;
	margin: auto;
	display: block;
}

canevas {
	display: inline-block;
	vertical-align: middle;
}

/*************************************************
 *
 *	input, textarea
 *
 *************************************************/
input, textarea {
	font-size: 1em;
	margin: none;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	outline: none; 
	padding: 1em;
	border: solid 1px #DC0000;
	background-color: black;
	color: white;
	transition: box-shadow 0.3s, border 0.3s;
	margin-top: 1.2em;
	max-width: 85%;
}

textarea {
	width: 70%;
}

input:focus, input.focus,
textarea:focus, textarea.focus {
	border: solid 1px #FFFFFF;
    box-shadow: 0 0 5px 1px #FFFFFF;
}

input[type="submit"]:hover {
	background-color: white;
	color: black;
}

aside {
	width: 300px;
	display: block;
	float: right;
}

aside figure {
    margin-top: .5em;
}

aside img {
	max-height: 48px;
	text-decoration:none; 
	display: inline;
}

aside h1 {
	font-size: 150%;
	margin: 0px;
}

aside label {
	font-size: 100%;
}

section aside {
    width: 20%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    display: inline-block;
    float: left;
    text-indent: 0px;
}

section article {
    width: 78%;
    display: inline-block;
    padding-left: 1em;
    border-left: solid 1px #FFFFFF;
}

footer {
	width: 100%;
	display: block;
	border-top: 0px solid;
	background-color: #BE0000;
	margin-top: 1em;
	float: left;
}

footer .pied {
	width: 1280px;
	padding: 2em;
	margin: auto;
	text-align: center;
}

/******************************************************************
 *
 *	entrees de base de donnees
 *
 ******************************************************************/

.entries {
	list-style: none; 
	margin: 0; 
	padding: 0; 
}
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }

				  
/******************************************************************
 *
 *
 *
 ******************************************************************/
